div{
    display: flex;
}

.sidebar{
    background-color: #151419;
}

.body-footer {
    flex-direction: column;
    width: 100%;
    background-color: #232227;
}

.router-outlet-wrapper {
    background-color: black;
  }
