<div class="subcategories">
    <h2 style="color: white; font-size: 40px; margin-top: 20px; text-decoration: underline;" class="d-flex justify-content-center text-center">Sub Categories</h2>
    <div class="container d-flex" *ngFor="let data of product">
        <ul>
            <li> <p style="color: aliceblue;" >{{data.name}}</p> </li>  
            <img class="c-img" src={{data.image}} alt="">
        </ul>
    </div>
</div>
<!-- 
<div *ngFor="let data of products">
    <p>
           {{data.name}} 
    </p>
</div> -->