header {
    background-color: #151419;
    color: #ffffff;
    height: 80px;
    width: 100%;
    box-sizing: inherit;

    .container1 {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        height: 100%;
        padding: 0 20px;
        margin: 0;

        .logo img {
            height: 40px;


        }

        .search-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #232227;
            // border: 1px solid #ccc;
            // border-radius: 5px;
            padding: 5px;
            margin-bottom: 10px;
            width: 640px;

            input[type="text"] {
                border: none;
                color: #ffffff  ;
                outline: none;
                background-color: transparent;
                width: 100%;
                font-size: 16px;
                padding: 5px;
            }
        }

    }
}